	<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="films">
      <ion-icon name="film"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="specimen-details">
      <ion-icon name="specimen-details"></ion-icon>
      <ion-label>specimen-details</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="spaceship-details">
      <ion-icon name="spaceship-details"></ion-icon>
      <ion-label>spaceship-details</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>